
#logo h1 {
	float: none;
	margin: auto;
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 5px;
	position: relative;
	transition: all 0.3s ease;
	background-image: url("https://www.rootinternet.co.uk/images/logo.png");
	/*background-color: #cccccc;*/

}

#logo h1:hover {
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transform: scale(1.1);
}

#logo h1:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	animation: underline 2s infinite;
	position: absolute;
	top: 75px;
	left: 40px;
}
@keyframes underline {
	0% { width: 0%; background-color: black;}
	100% {width: 100%; background-color: transparent;}
}

